.formControl.error input,
.formControl.error textarea
{
    border: 4px #f00 solid;
}
.formControl.error span {
    color: red;
}
.formSummaryError {
    width: 25%;
    border: 1px #f00 solid;
    padding: 5px;
    color: #f00;
}