.header img {
    width:100%;
}
.avatarContainer {
    margin-bottom: 15px;
}
.avatar {
    width: 150px;
    height: 150px;
    padding: 15px;
}
.avatar img {
    width: 100%;
    height: 100%;
}
.contacts {
    padding: 2px 0 2px 25px;
}
.profileField {
    padding: 2px 0;
}
.editBtn {
    padding: 5px 15px;
    margin-top: 15px;
}