.container {
    min-height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form {
    width: 35%;
    min-width: 350px;
    margin: 0 auto;
    background-color: #f0f0f0;
    padding: 1px 35px 30px;
}